html {
    height: 99%;
}
body {
    position: relative;
    overflow: hidden;
    background-color: #dad2bc;
    min-height: 100%;
    width: 99%;
    margin: 10px;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #252323;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    border: 1px solid #252323;
    padding: 10px 0;
}

footer {
    width: 100%;
    border-top: #252323 1px solid;
    background-color: #70798C;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.menuButton {
    border: 1px solid #70798c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuButton button{
    width: 100%;
    height: 200px;
    border-radius: 5%;
    margin: 10px;
    background-color: #b6ada4;
}

.fullScreen{
    position: absolute;
    width: 100px;
    height: 50px;
    /* top: 50%; */
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px; 
}